@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom keyframes for background animation */
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Custom class for the animated background */
.animated-background {
  background-size: cover;
  background-position: center;
  animation: moveBackground 20s linear infinite;
}